@rendermode InteractiveServer
@inject NavigationManager Navegador
    @if (ok)
    {
      <div class="Cont">
        <div class="Contenido">
          <img src="Perfil.png">
          <div class="Centrado">
          <h3 class="NombreUsuario">@(Usuario.s_Actual != null? Usuario.s_Actual.Nombre : "none")  @(Usuario.s_Actual!=null? Usuario.s_Actual.Apellido: "none")</h3>
          </div>
          <button class="btn btn-light btnGest" @onclick="Gestion">Gestionar Perfil</button>
          <button class="btn btn-light btnClose" @onclick="Cerrar">Cerrar Sesion</button>
        </div>
      </div>
    }
    <button class="bi bi-person-circle fs-2 d-flex align-items-center" @onclick="Abrir"></button>

@code{
  bool ok = false;
  public void Abrir()
  {
    ok= !ok;
    StateHasChanged();
  }
  public void Gestion()
  {
    Navegador.NavigateTo("/GestionPerfil");
    ok=!ok;
    StateHasChanged();
  }
  public void Cerrar()
  {
    ok= !ok;
    StateHasChanged();
    Navegador.NavigateTo("/");
  }
}