@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="">Cerrar Sesion</a>
            </div>
            <button class="bi bi-person-circle fs-2 d-flex align-items-center" @onclick="Abrir"></button>
            <Perfil @ref="perfil"/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{
    Perfil perfil=null!;
    public void Abrir()
    {
        perfil.Mostrar();
    }
}