@rendermode InteractiveServer
@if(visible)
{   
    <div class="Contenedor">
        <div class="PopUp">
            <img src="warning.jpg" alt="Warning Icon" class="warning-icon">
            <h3 class="Titulo">@Mensaje</h3>
            <button class="btn btn-danger" @onclick="CerrarYconfirmar">Aceptar</button>
            @if(!error)
            {
                <button class="btn btn-primary" @onclick="Cerrar">Cancelar</button>
            }
        </div>
    </div>
}
@code{
    private bool visible = false;
    private bool error=false;
    [Parameter]
    public string Mensaje {get;set;}="";
    public void Mostrar(bool error)
    {
        this.error=error;
        visible=true;
        StateHasChanged();
    }
    void Cerrar()
    {
        visible=false;
    }
    [Parameter]
    public EventCallback OnConfirmado{get;set;}
    void CerrarYconfirmar()
    {
        visible = false;
        StateHasChanged();
        if (!error)
        {
            OnConfirmado.InvokeAsync();
        }
    }
}