@page "/"
@rendermode InteractiveServer
@inject AgregarUsuarioUseCase AgregarUsuarioUseCase
<PageTitle>Inicio</PageTitle>
@if(visible)
{
    @if(!sesion)
    {
        <h1>Inicia Sesion</h1>
        <input placeholder="Email"@bind="email" /><br>
        <input placeholder="Contraseña"@bind="password" /><br>
        <button class="btn btn-primary" @onclick="LogIn">Log In</button>
        <button class="btn btn-secondary" @onclick="SignIn_r">Sign In</button>
    }
}
else
{
    <h1>Registrarce</h1>
    <input placeholder="Nombre"@bind="nom" /><br>
    <input placeholder="Apellido"@bind="ape" /><br>
    <input placeholder="Email"@bind="email" /><br>
    <input placeholder="Contraseña"@bind="password" /><br>
    <button class="btn btn-primary" @onclick="SignIn">Sign In</button>
    <button class="btn btn-secondary" @onclick="LogIn_r">Log In</button>
}

@code{
    bool sesion=false;
    bool visible=true;
    ElementReference input_01;
    string? nom;
    string? ape;
    string? email;
    string? password;
    public void SignIn()
    {
        Usuario u=new Usuario(nom,ape,email,password);
        AgregarUsuarioUseCase.Ejecutar(u,1);
    }
    public void LogIn()
    {

    }
    //Los metodos siguientes son solo para rotar entre login y signin
    public void LogIn_r()
    {
        visible=true;
        InvokeAsync(StateHasChanged);
    }
    public void SignIn_r()
    {
        visible=false;
        InvokeAsync(StateHasChanged);
    }
}