@page "/"
@rendermode InteractiveServer
@inject AgregarUsuarioUseCase AgregarUsuarioUseCase
@inject VerificarUsuarioUseCase verificarUsuarioUseCase
@inject NavigationManager Navegador
<PageTitle>Inicio</PageTitle>
@if(visible)
{
    <div class="Inicio-Container">
        <div class="Inicio-Datos">
            @if(sesion)
            {
                <h1 class="Dato">Inicia Sesion</h1>
                @if(!correcto){
                    <b>Contraseña o Email invalidos</b>
                }
                <input @ref="input_01" class="Dato" placeholder="Email"@bind="email" /><br>
                <input class="Dato" placeholder="Contraseña"@bind="password" /><br>
                <button class="Dato btn btn-primary" @onclick="SignIn">Iniciar Sesion</button>
                <button class="Dato btn btn-secondary" @onclick="()=>Cambio(false)">Registrar</button>
            }
            else{
                <h1 class="Dato">Registrar</h1>
                <input class="Dato" placeholder="Nombre"@bind="nom" /><br>
                <input class="Dato" placeholder="Apellido"@bind="ape" /><br>
                <input class="Dato" placeholder="Email"@bind="email" /><br>
                <input class="Dato" placeholder="Contraseña"@bind="password" /><br>
                <button class="Dato btn btn-primary" @onclick="LogIn">Registrar</button>
                <button class="Dato btn btn-secondary" @onclick="()=>Cambio(true)">Iniciar Sesion</button>
            }
        </div>
    </div>
}

@code{
    bool sesion=true;
    bool visible=true;
    bool correcto = true;
    ElementReference input_01;
    string? nom;
    string? ape;
    string? email;
    string? password;
    public void SignIn()
    {
        if(verificarUsuarioUseCase.Ejecutar(new Usuario("none","none",email,password))){
            correcto = true;
            visible=false;
            Navegador.NavigateTo("Personas");
        }
        else{
            correcto = false;
            input_01.FocusAsync();
        }
    }
    public void LogIn()
    {
        visible=false;
        AgregarUsuarioUseCase.Ejecutar(new Usuario(nom,ape,email,password));
        Navegador.NavigateTo("Personas");
    }
    public void Cambio(bool ok){
        sesion = ok;
        InvokeAsync(StateHasChanged);
    }
}