@page "/"
@rendermode InteractiveServer
@inject AgregarUsuarioUseCase AgregarUsuarioUseCase
@inject VerificarUsuarioUseCase verificarUsuarioUseCase
@inject BuscarUsuarioUseCase BuscarUsuarioUseCase
@inject NavigationManager Navegador
<PageTitle>Inicio</PageTitle>
@if(visible)
{
    <div class="Inicio-Container">
        <div class="Inicio-Datos @(sesion ? "login" : "register")">
            @if(sesion)
            {
                <h1 class="Dato">Iniciar Sesion</h1>
                @if(!correcto){
                    <b>Contraseña o Email invalidos</b>
                }
                <div class="Recuadros">   
                    <label>Email</label>
                    <input type="text" placeholder="Ingresar Email"@bind="email" /><br>
                    <label>Contraseña</label>
                    <input type="password" placeholder="Ingresar Contraseña"@bind="password" /><br>
                </div>
                <button class="Dato btn btn-primary" @onclick="SignIn">Iniciar Sesion</button>
                <button class="Dato btn btn-secondary" @onclick="()=>Cambio(false)">Registrar</button>
            }
            else{
                <h1 class="Dato">Registrar</h1>
                @if(error)
                {
                    <b>@mensaje</b>
                }
                <div class="Recuadros">
                    <input type="text"placeholder="Nombre"@bind="nom" /><br>
                    <input type="text" placeholder="Apellido"@bind="ape" /><br>
                    <input type="text" placeholder="Email"@bind="email" /><br>
                    <input type="password" placeholder="Contraseña"@bind="password" /><br>
                </div>
                <button class="Dato btn btn-primary" @onclick="SignUp">Registrar</button>
                <button class="Dato btn btn-secondary" @onclick="()=>Cambio(true)">Iniciar Sesion</button>
            }
        </div>
    </div>
}

@code{
    bool sesion=true;
    bool visible=true;
    bool error=false;
    bool correcto = true;
    string? nom;
    string? ape;
    string? email ;
    string? password;
    string? mensaje;
    public async Task SignIn()
    {
        if(verificarUsuarioUseCase.Ejecutar(new Usuario("none","none",email,password))){
            correcto = true;
            Usuario.s_Actual= BuscarUsuarioUseCase.Ejecutar(email!= null? email:"none");
            visible=false;
            await Task.Delay(50);
            Navegador.NavigateTo("/Personas");
        }
        else{
            correcto = false;
            StateHasChanged();
        }
    }
    Usuario? user;
    public async Task SignUp()
    {
        try
        {
            AgregarUsuarioUseCase.Ejecutar(user=new Usuario(nom,ape,email,password));
            Usuario.s_Actual=BuscarUsuarioUseCase.Ejecutar(email ?? "none");
            visible=false;
            await Task.Delay(50);
            Navegador.NavigateTo("/Personas");
        }
        catch(Exception e)
        {
            Console.WriteLine(e.Message);
            error=true;
            mensaje=e.Message;
            StateHasChanged();
        }
    }
    public void Cambio(bool ok){
        sesion = ok;
        InvokeAsync(StateHasChanged);
    }
}
