@rendermode InteractiveServer
@inject ListarPermisosUseCase  ListarPermisosUseCase
@inject EditarPermisosUseCase EditarPermisosUseCase
@if(visible){
    <div class="Inicio-Container">
        <div class="Inicio-Datos">
            <h2>Permisos</h2>
            <tbody>
                <div class="lista">
                    @foreach(var per in PermisosDisponibles)
                    {
                        <div class="permiso-item">
                            <input type="checkbox" id="perm_per.Valor" @bind="per.Seleccionado"/>
                            <label for="=perm_@per.Valor">@per.Valor</label>
                        </div>
                    }
                </div>
                <div class="botones">
                    <button class="btn btn-primary" @onclick="GuardarCambios">Guardar</button>
                    <button class="btn btn-secondary" @onclick="Close">Cancelar</button>
                </div>
            </tbody>
        </div>
    </div>
}
@code {
    bool visible = false;
    List<PermisoCheckbox> PermisosDisponibles=null!;

    int idUsuario;
    public void Mostrar(bool ok, int idUsuario){
        PermisosDisponibles=ListarPermisosUseCase.Ejecutar(idUsuario);
        visible = ok;
        this.idUsuario = idUsuario;
        StateHasChanged();
    }
    public void GuardarCambios()
    {
        EditarPermisosUseCase.Ejecutar(idUsuario,PermisosDisponibles);
        visible = false;
        StateHasChanged();
    }
    public void Close(){
        visible = false;
        StateHasChanged();
    }
}   
